@media (max-width: 992px) {
    /* ==========================================================================
       Modal styles
       ========================================================================== */
    @-webkit-keyframes anim-open {
        0% {
            opacity: 0;
            -webkit-transform: scale3d(0, 0, 1);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
        }
    }
    @keyframes anim-open {
        0% {
            opacity: 0;
            -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    @-webkit-keyframes anim-close {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: scale3d(0.5, 0.5, 1);
        }
    }
    @keyframes anim-close {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: scale3d(0.5, 0.5, 1);
            transform: scale3d(0.5, 0.5, 1);
        }
    }
    .modal-container {
        left: 0;
        overflow: auto;
        position: fixed;
        top: 0;
        z-index: 500000;
        width: 0;
        height: 0;
        padding: 0;
    }

    .modal-container.open,
    .modal-container.close {
        bottom: 0;
        right: 0;
        width: initial;
        height: initial;
    }

    .modal-container.open .shade,
    .modal-container.close .shade {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

    .modal-container.open .shade {
        opacity: .96;
    }

    .modal-container.open .popup-content {
        -webkit-animation-name: anim-open;
        animation-name: anim-open;
        -webkit-animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
        animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
    }

    .modal-container.close .popup-content {
        -webkit-animation-name: anim-close;
        animation-name: anim-close;
    }

    /* ==========================================================================
       Стили контейнера модали
       ========================================================================== */
    .modal-container.open .popup-content,
    .modal-container.close .popup-content {
        text-align: center;
        display: block;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 2% auto;
        position: relative;
        max-width: 1024px;
        width: 100%;
        -webkit-border-radius: 0;
        border-radius: 0;
        padding: 0;
    }
    .modal-container.open .popup-content li,
    .modal-container.close .popup-content li{
        margin: 20px 0;
    }

    /* ==========================================================================
       Стили затеменения
       ========================================================================== */
    .modal-container .shade {
        background-color: #6D45BA;
        opacity: 0;
        -webkit-transition: opacity 400ms ease;
        -o-transition: opacity 400ms ease;
        transition: opacity 400ms ease;
        cursor: pointer;
    }
    /* ==========================================================================
       Стили текстовой области
       ========================================================================== */
    .modal-text-cont {
        margin: 0 20px 0 30px;
        max-height: 400px;
        overflow: auto;
        padding-right: 10px;
    }
    /* ==========================================================================
       Стили иконки закрыть мобильное меню
       ========================================================================== */
    .close-modal{
        display: inline-block;
        color: #fff;
        top: 13px;
        right: 11px;
        line-height: 16px;
        font-size: 45px;
        font-weight: 300;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}









/* ==========================================================================
   Modal styles
   ========================================================================== */
@-webkit-keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0, 0, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
    }
}
@keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.5, 0.5, 1);
    }
}
@keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.5, 0.5, 1);
        transform: scale3d(0.5, 0.5, 1);
    }
}
.form-container {
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 500000;
    width: 0;
    height: 0;
    padding: 0;
}
.form-container.open,
.form-container.close {
    bottom: 0;
    right: 0;
    width: initial;
    height: initial;
}
.form-container.open .shade,
.form-container.close .shade {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.form-container.open .shade {
    opacity: .96;
}
.form-container.open .popup-content {
    -webkit-animation-name: anim-open;
    animation-name: anim-open;
    -webkit-animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
    animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}
.form-container.close .popup-content {
    -webkit-animation-name: anim-close;
    animation-name: anim-close;
}
/* ==========================================================================
   Стили контейнера модали
   ========================================================================== */
.form-container.open .popup-content,
.form-container.close .popup-content {
    text-align: center;
    display: block;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 13% auto;
    position: relative;
    max-width: 1024px;
    width: 100%;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
}
.form-container.open .popup-content li,
.form-container.close .popup-content li{
    margin: 20px 0;
}
/* ==========================================================================
   Стили затеменения
   ========================================================================== */
.form-container .shade {
    background-color: #6D45BA;
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
    cursor: pointer;
}
/* ==========================================================================
   Стили текстовой области
   ========================================================================== */
.modal-text-cont {
    margin: 0 20px 0 30px;
    max-height: 400px;
    overflow: auto;
    padding-right: 10px;
}
/* ==========================================================================
   Стили иконки закрыть мобильное меню
   ========================================================================== */
.close-modal, .close-modal1, .close-modal2{
    cursor: pointer;
    display: none;
    color: #fff;
    top: 13px;
    right: 11px;
    line-height: 16px;
    font-size: 45px;
    font-weight: 300;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.open .close-modal, .open  .close-modal1, .open  .close-modal2,
.close .close-modal, .close .close-modal1, .close .close-modal2{
    display: inline-block;
}