@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik/Rubik-Light.eot');
  src: url('../font/Rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'), url('../font/Rubik/Rubik-Light.woff2') format('woff2'), url('../font/Rubik/Rubik-Light.woff') format('woff'), url('../font/Rubik/Rubik-Light.ttf') format('truetype'), url('../font/Rubik/Rubik-Light.svg#Rubik-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik/Rubik-Regular.eot');
  src: url('../font/Rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'), url('../font/Rubik/Rubik-Regular.woff2') format('woff2'), url('../font/Rubik/Rubik-Regular.woff') format('woff'), url('../font/Rubik/Rubik-Regular.ttf') format('truetype'), url('../font/Rubik/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik/Rubik-Medium.eot');
  src: url('../font/Rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'), url('../font/Rubik/Rubik-Medium.woff2') format('woff2'), url('../font/Rubik/Rubik-Medium.woff') format('woff'), url('../font/Rubik/Rubik-Medium.ttf') format('truetype'), url('../font/Rubik/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik/Rubik-Bold.eot');
  src: url('../font/Rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'), url('../font/Rubik/Rubik-Bold.woff2') format('woff2'), url('../font/Rubik/Rubik-Bold.woff') format('woff'), url('../font/Rubik/Rubik-Bold.ttf') format('truetype'), url('../font/Rubik/Rubik-Bold.svg#Rubik-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik/Rubik-Black.eot');
  src: url('../font/Rubik/Rubik-Black.eot?#iefix') format('embedded-opentype'), url('../font/Rubik/Rubik-Black.woff2') format('woff2'), url('../font/Rubik/Rubik-Black.woff') format('woff'), url('../font/Rubik/Rubik-Black.ttf') format('truetype'), url('../font/Rubik/Rubik-Black.svg#Rubik-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
*:focus {
  outline: none;
}
a:focus {
  outline: none;
  outline-offset: -2px;
  color: #fff;
  text-decoration: none;
}
html,
body {
  font-family: Rubik, 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #D9E1E8;
  color: #515860;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  background: -webkit-gradient(linear, left top, right top, from(#6D45BA), to(#7F34FF));
  background: -webkit-linear-gradient(left, #6D45BA, #7F34FF);
  background: -o-linear-gradient(left, #6D45BA, #7F34FF);
  background: linear-gradient(to right, #6D45BA, #7F34FF);
  z-index: 2;
}
header svg.logo {
  width: 30px;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
header svg.logo .cls-1 {
  fill: #D9E1E8;
}
header svg.logo:hover .cls-1 {
  fill: #fff;
}
.nav-icon-mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 4px;
  width: 24px;
  color: #fff;
}
.nav-icon-mobile span {
  font-size: 20px;
  font-weight: 500;
  line-height: 8px;
  display: block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.btn {
  position: relative;
  width: 215px;
  height: 50px;
  border: none;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #fff;
  background-color: #9EAAB7;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
a.btn {
  display: inline-block;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
a.btn:hover {
  text-decoration: none;
  text-align: center;
  color: #fff;
}
.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
nav.nav-bar-container {
  display: inline-block;
}
nav.nav-bar-container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
nav.nav-bar-container li {
  list-style-type: none;
  margin: 0 25px 0 0;
}
nav.nav-bar-container a {
  color: #fff;
  text-decoration: none;
  opacity: .6;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
nav.nav-bar-container a:hover {
  opacity: 1;
  text-decoration: none;
}
.close-modal {
  display: none;
}
#main-nav-container nav.nav-bar-container a.selected {
  opacity: 1;
}
.logo-container {
  display: inline-block;
  text-align: center;
}
.nav-button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.soc-container {
  display: inline-block;
  text-align: center;
}
.soc-container img {
  height: 13px;
}
.soc-container a {
  display: inline-block;
  margin: 10px;
  opacity: .6;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.soc-container a:hover {
  opacity: 1;
}
.register {
  text-align: center;
  text-decoration: none;
  line-height: 32px;
  color: #fff;
  width: 112px;
  height: 32px;
  background: -webkit-gradient(linear, left bottom, left top, from(#69CC98), to(#00A99D));
  background: -webkit-linear-gradient(bottom, #69CC98, #00A99D);
  background: -o-linear-gradient(bottom, #69CC98, #00A99D);
  background: linear-gradient(to top, #69CC98, #00A99D);
  border: none;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  opacity: .8;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.register:hover {
  opacity: 1;
  text-decoration: none;
  color: #fff;
}
.register-item-container {
  text-align: center;
}
.register-item-container p {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.map {
  margin-top: 58px;
}
.map .wrapper-block {
  position: relative;
}
.map .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.map .btn {
  padding: 0 10px;
}
.map .btn:not(:last-child) {
  margin-right: 30px;
}
.map .btn:hover {
  -webkit-box-shadow: inset #7F34FF 0 -21px 60px -10px, 0 14px 56px rgba(30, 0, 179, 0.2);
  box-shadow: inset #7F34FF 0 -21px 60px -10px, 0 14px 56px rgba(30, 0, 179, 0.2);
  background-color: #6D45BA;
}
.map-list-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.map-list-container h1 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}
.map-list-container p {
  font-size: 24px;
}
.map-list-container p span {
  margin-right: 15px;
}
.map-list-container .choose {
  width: 24px;
}
.map-list-container .map-list {
  padding-left: 0;
  list-style-type: none;
}
.map-list-container .map-list li {
  display: inline-block;
  margin-right: 23px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: .6;
  -webkit-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.map-list-container .map-list li:hover {
  opacity: 1;
}
.map-list-container .map-list li span {
  width: 50%;
}
.map-list-container .map-list li span:first-child {
  font-size: 16px;
  color: #6D45BA;
}
.map-list-container .map-list li span:last-child {
  font-size: 14px;
  color: #515860;
}
.two-button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 60px;
}
.two-center-button-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 60px;
}
.note {
  opacity: .6;
  text-align: end;
}
.what {
  padding-top: 40px;
  padding-bottom: 30px;
}
.what svg.unlocking {
  display: inline-block;
  max-width: 100px;
  vertical-align: middle;
  margin-right: 50px;
}
.what svg.unlocking .cls-1 {
  fill: #6D45BA;
}
.what h2 span {
  text-align: left;
  display: inline-block;
  line-height: 30px;
}
.what-section-title-container {
  text-align: center;
  margin-bottom: 40px;
}
.what-section-title {
  vertical-align: middle;
  display: inline-block;
  text-align: start;
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}
.what-block h3 {
  color: #6D45BA;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.what-block p {
  font-size: 16px;
  margin: 0;
}
.title {
  text-align: start;
}
.title-image-container {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}
.title-image {
  height: 260px;
  margin-right: 45px;
}
.title-image-title-container {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.title-image-title-container h2 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin: 9px 0 0 0;
}
.title-image-title-container p {
  font-size: 16px;
  font-weight: 300;
  color: #9EAAB7;
  margin: 0;
}
.process-item-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.process-item {
  text-align: center;
  width: 25%;
}
.process-item img {
  height: 50px;
}
.process-item h3 {
  font-size: 24px;
  font-weight: 700;
}
.process {
  padding-top: 70px;
  margin-bottom: 60px;
}
.process .process-item h3 {
  text-transform: uppercase;
}
.schedule-wrapper {
  position: relative;
  width: 90%;
  margin: -180px auto 0;
  background-color: #fff;
  padding: 41px 5%;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.schedule-title {
  font-size: 36px;
  font-weight: 700;
  color: #6D45BA;
  margin-top: 0;
}
.schedule-container {
  padding-top: 5px;
}
.schedule {
  margin-top: 240px;
  background-color: #6D45BA;
}
.schedule .shedule-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.schedule .schedule-info-item-cont {
  width: 30%;
}
.schedule .schedule-info-item-title-cont,
.schedule .schedule-info-item {
  padding: 15px;
}
.schedule .schedule-info-item-title-cont {
  background-color: #6D45BA;
  color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-bottom: 15px;
}
.schedule .schedule-ietm p {
  margin: 5px 0;
}
.schedule .schedule-ietm p:last-child {
  font-weight: 600;
}
.schedule .tab {
  font-size: 0;
  color: #9EAAB7;
  white-space: nowrap;
  overflow: hidden;
}
.schedule .tab span:nth-child(odd) {
  font-size: 21px;
}
.schedule .tab span:nth-child(even) {
  font-size: 12px;
}
.schedule .tab span.full-sch {
  display: block;
}
.schedule .tab span.mob-sch {
  display: none;
}
.schedule .tab > input {
  display: none;
}
.schedule .tab > input + label {
  display: inline-block;
  border-bottom: 2px solid #9EAAB7;
  padding: 0 25px 10px 0;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.schedule .tab > input + label:not(:last-of-type) {
  border-right: none;
}
.schedule .tab > input + label:hover {
  color: #6D45BA;
}
.schedule .tab > input + label:last-of-type::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 2px solid #9EAAB7;
  width: 2000px;
  top: 100%;
  left: 100%;
}
.schedule .tab > input:checked + label {
  color: #6D45BA;
  border-bottom: 2px solid #6D45BA;
}
.schedule .tab > input:checked + label:last-of-type::after {
  bottom: 0;
}
.schedule .tab > div.tab-content-item {
  position: absolute;
  top: 190px;
  right: 5.6%;
  left: 5.6%;
  color: #333333;
  font-size: 16px;
  white-space: normal;
  display: block;
  opacity: 0;
  border-top: none;
  padding: 30px 0 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  -webkit-column-width: 150px;
  -moz-column-width: 150px;
  column-width: 150px;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.schedule .tab > input:nth-of-type(1):checked ~ div.tab-content-item:nth-of-type(1),
.schedule .tab > input:nth-of-type(2):checked ~ div.tab-content-item:nth-of-type(2),
.schedule .tab > input:nth-of-type(3):checked ~ div.tab-content-item:nth-of-type(3),
.schedule .tab > input:nth-of-type(4):checked ~ div.tab-content-item:nth-of-type(4),
.schedule .tab > input:nth-of-type(5):checked ~ div.tab-content-item:nth-of-type(5),
.schedule .tab > input:nth-of-type(6):checked ~ div.tab-content-item:nth-of-type(6),
.schedule .tab > input:nth-of-type(7):checked ~ div.tab-content-item:nth-of-type(7) {
  opacity: 1;
}
.schedule div.tab-content-item p {
  margin: 0;
}
.schedule div.tab-content-item p:first-child {
  font-size: 12px;
  font-weight: 700;
}
.schedule div.tab-content-item p:last-child {
  font-size: 16px;
}
.schedule .schedule-ietm {
  margin-bottom: 25px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.why-us {
  padding-top: 60px;
  background-color: #6D45BA;
  padding-bottom: 60px;
}
.why-us .why-us-items-image img {
  width: 70%;
}
.why-us .title-image-container {
  margin-bottom: 80px;
}
.why-us .title-image-container h2 {
  margin: 0;
}
.why-us-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.why-us-items-text {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
.why-us-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px 0;
}
.why-us-items:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.why-us-items div {
  text-align: center;
  width: 25%;
  margin: 0 15px;
}
.benefits {
  padding: 60px 0 50px;
  background-color: #fff;
}
.benefits-wrapper h2 {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 700;
}
.benefits-wrapper:first-child {
  margin-bottom: 100px;
}
.register-section {
  position: relative;
  background-color: #6D45BA;
  padding: 250px 0 100px;
}
.register-section .title-image-container {
  position: absolute;
  text-align: center;
  margin-bottom: 0;
  top: -310px;
  left: 0;
  right: 0;
}
.register-section .title-image {
  height: 270px;
  margin-right: 87px;
}
.register-section form {
  text-align: center;
}
.register-section form label {
  text-align: center;
  max-width: 100%;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 300;
  display: block;
  color: #D9E1E8;
}
.register-section form .form-control {
  margin: 0 auto 20px;
  width: 50%;
  height: 48px;
  padding: 6px 12px;
  font-size: 14px;
  color: #D9E1E8;
  background-color: #5E41A5;
  border: none;
}
.register-section .btn {
  background: -webkit-gradient(linear, left top, right top, from(#69CC98), to(#00A99D));
  background: -webkit-linear-gradient(left, #69CC98, #00A99D);
  background: -o-linear-gradient(left, #69CC98, #00A99D);
  background: linear-gradient(to right, #69CC98, #00A99D);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 0 10px;
}
.register-section .btn:hover {
  -webkit-box-shadow: 0 14px 56px rgba(0, 168, 154, 0.45);
  box-shadow: 0 14px 56px rgba(0, 168, 154, 0.45);
}
input#datePicker {
  font-size: 13px;
}
input#datePicker::-webkit-inner-spin-button {
  display: none;
}
input#datePicker::-webkit-clear-button {
  display: none;
}
#register {
  padding-top: 80px;
  background-color: #fff;
}
.register-form-item {
  text-align: center;
  margin-bottom: 50px;
}
.register-form-item span {
  width: 50%;
  font-weight: 300;
  color: #D9E1E8;
  display: inline-block;
}
.mentors {
  background-color: #fff;
  padding: 60px 0 40px;
}
.mentors h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 90px;
}
.mentors p {
  margin: 0;
}
.mentors .process-item h3 {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.mentors .man-photo {
  display: inline-block;
  width: 136px;
  height: 136px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 15px;
}
.mentors .process-item-container:not(:last-child) {
  margin-bottom: 50px;
}
.mentors .mentors-wrapper {
  margin: 0 5%;
}
.mentors .mentors-wrapper .process-item {
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  margin-bottom: 60px;
}
.partners {
  background-color: #fff;
  padding: 60px 0 100px;
}
.partners h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 65px;
}
.partners .partners-logo-cont {
  line-height: 80px;
  margin-bottom: 30px;
}
.partners img {
  width: 50%;
}
.partners .two-button-container {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}
.partners .btn:hover {
  -webkit-box-shadow: inset #7F34FF 0 -21px 60px -10px, 0 14px 56px rgba(30, 0, 179, 0.2);
  box-shadow: inset #7F34FF 0 -21px 60px -10px, 0 14px 56px rgba(30, 0, 179, 0.2);
  background-color: #6D45BA;
}
.partners .partner-item {
  margin-bottom: 70px;
}
.partners .btn {
  margin: 10px 20px;
  min-width: 150px;
}
.donate {
  background: -webkit-radial-gradient(at top, #69CC98, #00A99D);
  background: -o-radial-gradient(at top, #69CC98, #00A99D);
  background: radial-gradient(at top, #69CC98, #00A99D);
  padding: 170px 0;
}
.donate .donate-title {
  position: relative;
  max-width: 460px;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.donate .donate-img-bg {
  position: absolute;
  top: -84px;
  left: -62px;
  width: 100%;
}
.donate .qr-container {
  text-align: center;
}
.donate .qr-container img {
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 0 0 130px #00ffed;
  box-shadow: 0 0 130px #00ffed;
}
.donate .qr-address-cont {
  position: relative;
}
.donate .qr-address-cont span {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.donate button.btn-copy-link {
  display: block;
  word-wrap: break-word;
  font-size: 24px;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}
.donate button.btn-copy-link:hover {
  opacity: .5;
}
.hack {
  padding: 60px 0 100px;
  background-color: #6D45BA;
  color: #fff;
}
.hack h2 {
  font-size: 36px;
}
.hack p {
  line-height: 26px;
  color: #D9E1E8;
}
.hack .process-item h3 {
  line-height: 80px;
  font-size: 88px;
  margin: 0;
  font-weight: 700;
}
.hack .process-item p {
  font-size: 24px;
  margin: 0;
}
.hack .hack-container {
  margin-bottom: 90px;
}
.blockchain-slider div {
  min-height: 300px;
  height: 80vh;
  overflow: hidden;
}
.blockchain-slider ul.slick-dots {
  padding: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.blockchain-slider ul.slick-dots li {
  display: inline-block;
  list-style-type: none;
  margin: 5px;
  border: solid 2px #fff;
  background-color: rgba(0, 0, 0, 0.4);
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.blockchain-slider ul.slick-dots li button {
  display: none;
}
.blockchain-slider ul.slick-dots li.slick-active {
  background-color: #fff;
}
footer {
  color: #fff;
  font-weight: 300;
  background-color: #515860;
  padding-top: 80px;
}
footer .contact-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  margin-top: 21px;
  margin-bottom: 10px;
}
footer .form-control {
  color: #fff;
  background-color: rgba(26, 26, 26, 0.25);
  border: none;
  margin-bottom: 11px;
}
footer input:-webkit-autofill,
footer textarea:-webkit-autofill,
footer select:-webkit-autofill {
  background-color: rgba(26, 26, 26, 0.25) !important;
  color: #fff !important;
}
footer h3 {
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
}
footer .soc-container {
  display: block;
  text-align: left;
  margin-bottom: 50px;
}
footer .soc-container a {
  padding: 15px 25px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  opacity: 1;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-decoration: none;
}
footer .soc-container a:hover {
  text-decoration: none;
}
footer .soc-container span {
  color: #fff;
}
footer .soc-container img {
  height: 24px;
  margin-right: 15px;
}
footer .soc-container .insta-btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#7361A2), to(#CB516E));
  background: -webkit-linear-gradient(bottom, #7361A2, #CB516E);
  background: -o-linear-gradient(bottom, #7361A2, #CB516E);
  background: linear-gradient(to top, #7361A2, #CB516E);
}
footer .soc-container .facebook-btn {
  background-color: #4C7EC5;
}
footer .offices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
footer .offices p {
  width: 50%;
}
footer .offices p a {
  color: #00A99D;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
footer .offices p a:hover {
  color: #69CC98;
}
footer form {
  text-align: right;
}
footer form .btn {
  opacity: .2;
  width: 140px;
  background: -webkit-gradient(linear, left top, right top, from(#69CC98), to(#00A99D));
  background: -webkit-linear-gradient(left, #69CC98, #00A99D);
  background: -o-linear-gradient(left, #69CC98, #00A99D);
  background: linear-gradient(to right, #69CC98, #00A99D);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
footer form .btn:hover {
  opacity: 1;
  -webkit-box-shadow: 0 14px 56px rgba(0, 168, 154, 0.45);
  box-shadow: 0 14px 56px rgba(0, 168, 154, 0.45);
}
footer form textarea.form-control {
  min-height: 50px;
  max-height: 400px;
}
footer nav.nav-bar-container li {
  margin: 0 30px 20px 0;
}
footer .two-button-container {
  margin-bottom: 0;
}
footer p.copyright {
  text-align: center;
}
footer .footer-wrapper {
  margin-bottom: 40px;
}
footer .two-button-container .btn:hover {
  -webkit-box-shadow: inset #69CC98 0 -21px 60px -10px, 0 14px 56px rgba(0, 168, 154, 0.45);
  box-shadow: inset #69CC98 0 -21px 60px -10px, 0 14px 56px rgba(0, 168, 154, 0.45);
  background-color: #00A99D;
}
.svg-map {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
svg .cls-1 {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
svg .cap {
  fill: #00FFFF;
  opacity: 0;
}
svg polygon.minsk.active,
svg polygon.kiev.active,
svg path.singapore.active,
svg path.lumpur.active,
svg path.kong.active,
svg path.london.active,
svg path.tokyo.active,
svg path.madrid.active,
svg path.seul.active {
  fill: #6D45BA;
}
svg .cap.active {
  opacity: 1;
}
.form-container input.form-control,
.form-container textarea.form-control {
  margin: 0 auto 15px;
  max-width: 600px;
}
.form-container form textarea.form-control {
  margin-bottom: 45px;
  min-height: 100px;
}
.form-container label {
  color: #fff;
  font-size: 25px;
  margin-bottom: 40px;
  padding: 0 10px;
}
.form-container .btn {
  -webkit-box-shadow: inset #69CC98 0 -21px 60px -10px, 0 14px 56px rgba(0, 168, 154, 0.45);
  box-shadow: inset #69CC98 0 -21px 60px -10px, 0 14px 56px rgba(0, 168, 154, 0.45);
  background-color: #00A99D;
  opacity: .6;
}
.form-container .btn:hover {
  opacity: 1;
}
.form-container form .form-control {
  margin: 0 auto 20px;
  width: 50%;
  height: 48px;
  padding: 6px 12px;
  font-size: 14px;
  color: #D9E1E8;
  background-color: #5E41A5;
  border: none;
}
