@media (min-width: 1200px) {
  .map .wrapper {
    height: -webkit-calc(1170px/2);
    height: calc(1170px/2);
  }
}
@media (max-width: 1199px) {
  .map .wrapper {
    height: -webkit-calc(970px/2);
    height: calc(970px/2);
  }
  .soc-container {
    display: none;
  }
  .btn {
    width: 170px;
    height: 45px;
  }
  .insta-btn span,
  .facebook-btn span {
    display: none;
  }
  .insta-btn img,
  .facebook-btn img {
    margin-right: 0;
  }
  footer nav.nav-bar-container li {
    margin: 0 30px 8px 0;
  }
  footer .soc-container {
    margin-bottom: 15px;
  }
  footer .soc-container a {
    text-align: center;
    line-height: 54px;
    padding: 0;
    height: 54px;
    width: 54px;
  }
  footer .soc-container img {
    margin-right: 0;
  }
  .donate button.btn-copy-link {
    font-size: 17px;
  }
  .donate {
    padding: 140px 0 90px;
  }
}
@media (max-width: 992px) {
  .map .wrapper {
    height: -webkit-calc(750px/2);
    height: calc(750px/2);
  }
  .soc-container {
    text-align: right;
    display: inline-block;
  }
  .soc-container a:last-child {
    margin-right: 0;
  }
  .nav-icon-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-button-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .register {
    margin-right: 40px;
  }
  .logo-container {
    text-align: left;
  }
  .map {
    padding-top: 100px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .two-button-container {
    margin-bottom: 15px;
  }
  .mentors .mentors-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
  .mentors .mentors-wrapper .process-item {
    width: -webkit-calc(100% / 3.8);
    width: calc(100% / 3.8);
    margin-bottom: 10px;
  }
  .btn {
    width: 165px;
  }
  .donate {
    padding: 130px 0 80px;
  }
  .hack .process-item h3 {
    font-size: 70px;
  }
  .hack .process-item p {
    font-size: 20px;
  }
  footer .two-button-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  footer .two-button-container .btn:not(:last-child) {
    margin-right: 20px;
  }
  footer form {
    text-align: left;
  }
  footer {
    padding-top: 40px;
  }
  footer h3 {
    margin-bottom: 10px;
  }
  footer .soc-container a {
    line-height: 40px;
    height: 40px;
    width: 40px;
  }
  footer form textarea.form-control {
    height: 100px;
  }
  .mentors {
    padding: 40px 0 66px;
  }
  .mentors h2 {
    margin-bottom: 55px;
  }
  .donate .qr-container img {
    margin-top: 40px;
    max-width: 250px;
  }
  .partners .partners-logo-cont {
    line-height: 0;
    margin-bottom: 35px;
  }
  .partners h2 {
    margin-bottom: 40px;
  }
  .partners img {
    max-width: 190px;
  }
  .partners .what-block div:first-child {
    margin-bottom: 30px;
  }
  .donate .donate-title {
    max-width: 100%;
  }
  .donate button.btn-copy-link {
    margin: 0 auto 15px;
  }
  .qr-address-cont {
    text-align: center;
  }
}
@media (max-width: 768px) {
  h2 {
    text-align: center;
  }
  .map .wrapper {
    height: auto;
  }
  .why-us-items-text {
    font-size: 20px;
  }
  .why-us-items {
    margin: 40px 0;
  }
  .why-us .why-us-items-image img {
    width: 63%;
  }
  .map .wrapper {
    display: block;
  }
  .map .wrapper > div {
    width: 100%;
  }
  .map .two-button-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .map .btn {
    margin: 0 auto 20px;
  }
  .map .map-list-container {
    margin-bottom: 30px;
  }
  .note {
    text-align: center;
  }
  .what {
    padding-bottom: 10px;
  }
  #schedule .shedule-info {
    display: block;
  }
  #schedule .schedule-info-item-cont {
    width: 100%;
  }
  .what-block h3 {
    font-size: 34px;
    margin-top: 20px;
  }
  .process {
    padding-top: 70px;
    margin-bottom: 40px;
  }
  .schedule .tab > div.tab-content-item {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .process .process-item-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .process-item {
    text-align: center;
    width: 50%;
    padding: 0 15px;
  }
  .mentors .mentors-wrapper .process-item {
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
    padding: 20px 15px;
  }
  .mentors h2 {
    margin-bottom: 30px;
  }
  .partners {
    padding: 30px 0 60px;
  }
  .hack .hack-container {
    margin-bottom: 55px;
  }
  .mentors {
    padding: 40px 0 50px;
  }
  footer .two-button-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  footer .two-button-container .btn:not(:last-child) {
    margin-right: 40px;
  }
  h2.what-div-title {
    text-align: start;
  }
  .title-image-title-container h2 {
    font-size: 30px;
  }
  .title-image {
    height: 215px;
  }
  header .register {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .donate button.btn-copy-link {
    display: none;
    margin: 0 auto 15px;
  }
  .donate .donate-title {
    margin-bottom: 35px;
  }
  .why-us-items div {
    width: 50%;
  }
  .blockchain-slider ul.slick-dots li {
    margin: 6px;
    width: 10px;
    height: 10px;
  }
  .register-section .title-image {
    height: 270px;
    margin-right: 40px;
    width: 80%;
  }
}
@media (max-width: 425px) {
  header .soc-container {
    display: none;
  }
  .title-image {
    height: auto;
  }
  .map-list-container h1 {
    font-size: 26px;
  }
  .process-item {
    width: 100%;
  }
  .schedule .tab > div.tab-content-item {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .register-section .title-image {
    height: auto;
    margin-right: 58px;
  }
  .mentors .mentors-wrapper .process-item {
    width: 100%;
  }
  .two-button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .two-button-container .btn:first-child {
    margin-bottom: 20px;
  }
  .partners .two-button-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .register-section form .form-control {
    width: 100%;
  }
  .schedule .tab span.full-sch {
    display: none;
  }
  .schedule .tab span.mob-sch {
    display: block;
  }
  h2.schedule-title {
    font-size: 33px;
    text-align: left;
  }
  footer .two-button-container {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  footer .two-button-container .btn:not(:last-child) {
    margin-right: 0;
  }
  footer .offices {
    display: block;
  }
  footer .offices p {
    width: 100%;
  }
  .register-section {
    padding: 175px 0 100px;
  }
  .register-section .title-image-container {
    top: -230px;
  }
  .register-form-item {
    text-align: center;
    margin-bottom: 20px;
  }
  .hack .process-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .form-container form .form-control {
    width: 80%;
    height: 38px;
  }
}
@media (max-width: 320px) {
  .register-section {
    padding: 150px 0 100px;
  }
  .register-section .title-image-container {
    top: -184px;
  }
}
